.movie-list-item {
  .image {
    padding-top: inherit;
    img {
      position: relative;
    }
  }
}
.movie-list-item-content {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}